{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Home</a> <i>&rsaquo;</i> take_attendance</div>


            
         
            {% for msg in messages %}
            <div class="alert alert-success">
              <i class="fas fa-check-circle"></i>{{msg}}
            </div> 
            {% endfor %}
    <div class="row">
       <div class="col-md-6 mx-auto">
             <div class="card pb-3">
                    <p class="form-title"> Take_Attendance</p>
                    <div class="container"><br>
            <form method="post">
              {% csrf_token %}
             
              {{ form.as_p }}
              <button type="submit"style="color: whitesmoke; background-color: blue;border-radius:45px;">Submit Attendance</button>
            </form>
          </form>
        </div>
    </div>
  </div>
</div>
          
{% endblock %}